---
import { get } from '@lib/dato'
const query = `
  query {
    commentator {
      title
    }
  }
`
const { data } = await get(query)
const page = data.commentator

console.log(page)
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{page.title}</title>
	</head>
	<body>
		<h1>{page.title}</h1>
	</body>
</html>
